body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

form {
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    width: 30vw;
    background-color: white;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}

input[type=text], input[type=password], input[type=Rpassword] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 50px;
  transition: .1s ease-out;
}

input[type=text]:hover, input[type=password]:hover, input[type=Rpassword]:hover {
    border: 1px solid #7a7a7a;
    transition: ease-out .1s;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  transition: .1s ease-out;
}

button:hover {
  opacity: 0.8;
  transition: ease-out .1s;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 100%;
  padding: 1vw;
  border: 3px solid black;
}

#error {
  background-color: #f1f1f1;
}

.container {
  padding: 16px;
}

.bold {
  font-weight: bold;
}

.text {
  font-size: 1vw;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Sliding background */
@keyframes slide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vw);
    }
}

.sliding-background {
    position: absolute;
    background: url("../img/background_login.png") repeat-y;
    background-size: contain;
    filter: brightness(80%);
    height: 200vw;
    width: 100vw;
    animation: slide 60s linear infinite;
    z-index: -1;
}